#app
{
    height: 100vh;

    color: $color1;
    background-color: lighten($color3,50%);
}
.map-wrapper
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: calc(100vh - 180px);

    .map-container
    {
        position: absolute;
        top: 0;
        left: 0;
        .cell
        {
            position: absolute;

            width: 50px;
            height: 50px;

            background-image: url('../../../assets/img/tiles50x50.jpg');
            &.empty
            {
                background-position: 0 0;
            }
            &.wall,
            &.corner
            {
                background-color: #000;
                background-position: 0 0;
            }
            &.floor
            {
                background-color: #444;
                background-position: -50px 0;
            }
            &.door
            {
                background-position: -100px 0;
            }
        }
        .player
        {
            position: absolute;

            width: 32px;
            height: 32px;
            margin-top: 8px;
            margin-left: 8px;

            transition-duration: .2s;
            transition-property: all;

            background-image: url('../../../assets/img/heroes.png');
            background-position: 0 0;
        }
    }
}
