a{
  text-decoration: none;
  color:$color1;
  transition-property: all;
  transition-duration: 0.4s;
  &:hover{
    color:lighten($color5,30%);
    &.inactive{
      color: darken($color1,60%);
    }
  }
}
