$icomoon-font-path: "../fonts/icomoon/fonts/" !default;

$icon-dice: "\e915";
$icon-book: "\e91f";
$icon-library: "\e921";
$icon-map: "\e94b";
$icon-spinner8: "\e981";
$icon-enlarge2: "\e98b";
$icon-shrink2: "\e98c";
$icon-wrench: "\e991";
$icon-magic-wand: "\e997";
$icon-pie-chart: "\e99a";
$icon-trophy: "\e99e";
$icon-mug: "\e9a2";
$icon-spoon-knife: "\e9a3";
$icon-hammer2: "\e9a8";
$icon-fire: "\e9a9";
$icon-lab: "\e9aa";
$icon-bin: "\e9ac";
$icon-accessibility: "\e9b2";
$icon-target: "\e9b3";
$icon-shield: "\e9b4";
$icon-power: "\e9b5";
$icon-eye: "\e9ce";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-heart: "\e9da";
$icon-info: "\ea0c";
$icon-blocked: "\ea0e";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-arrow-up-left2: "\ea39";
$icon-arrow-up2: "\ea3a";
$icon-arrow-up-right2: "\ea3b";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down-right2: "\ea3d";
$icon-arrow-down2: "\ea3e";
$icon-arrow-down-left2: "\ea3f";
$icon-arrow-left2: "\ea40";
$icon-google-plus: "\ea8b";
$icon-facebook: "\ea90";
$icon-twitter: "\ea96";
$icon-github: "\eab0";
